<!doctype html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://code.highcharts.com/stock/4.2.2/highstock.js"></script>
		<script src="https://code.highcharts.com/stock/4.2.2/modules/exporting.js"></script>
        <style>
            #pop-up{
                display : none ;
                width : 300px ;
                height : 200px ;
                background-color : white ;
                border-radius : 5px;
                box-shadow: 10px 10px 5px #cdcdcd ;

            }
            #popup-header{
                width : 100% ;
                height : 10% ;
            }
            #img-close{
                position : fixed ;
                float : right ;
                width : 10% ;
                background-image : url("close.jpg");
            }
            #popup-body{
                width : 100% ;
                height : 70% ;
            }
            #popup-footer{
                width : 100% ;
                height : 20% ;
                background-color: red ;
            }
        </style>
	</head>
	
	<body>
		<div id="container" style="height: 400px; min-width: 310px"></div>
        <div id="pop-up">
            <div id="popup-header"><div id="img-close"></div></div>
            <div id="popup-body">Temperature too High</div>
            <div id="popup-footer">Repaired</div> 
        </div>
		<script>
			$(function () {
    Highcharts.setOptions({
        global: {
            useUTC: false
        },
        colors :['white']
    });
    function intervalBreak(id){
        console.log("break") ;
        clearInterval(id) ;
    }
    var id ;
    // Create the chart
    $('#container').highcharts({
        chart: {
            type : 'line',
            animation : Highcharts.svg,
            marginRight : 10,
            backgroundColor : 'black',
            events: {
                load: function () {

                    // set up the updating of the chart each second
                    var series = this.series[0];
                    var startTime = new Date().getTime() ;
                    var count = 1 ;
                    var x=0,y=0 ;
                    var check = {{check}} ;
                    /*$(setInterval(function(){
                        $.get("./data.txt",function(data){
                            console.log(data) ;
                            check = data ;
                        })
                        console.log(check) ;
                    }),5000)*/
                    id = setInterval(function () {
                        var checkTime = (new Date()).getTime() ;
                        
                        if(checkTime <= startTime + 5000 || check == false){
                       		x = (new Date()).getTime(),
                            y = Math.round(( 5 + Math.random()) * 10);
                            checkTime = x ;
                    	}

                    	else if(y > 100 && check == true ){
                            
                            x = (new Date()).getTime(),
                            y = y ;   
                            $("#pop-up").css("display","block") ;            	
                        }
                    	else {
                            x = (new Date()).getTime() ;
                            y = y + count*5 
                            count++ ;
                    	}
                    series.addPoint([x, y], true, true);
                    }, 1000);
                    
                    $('#popup-footer').click(function(){
                            clearInterval(id) ;
                            $('#pop-up').css("display","none") ;
                            setInterval(function(){
                                x = (new Date()).getTime(),
                                y = Math.round(( 5 + Math.random()) * 10);     
                                series.addPoint([x,y],true,true) 
                            },1000) ;
                    })
                },
            },
        },

        title: {
            text: 'Transformer Temperature',
            style : {
                "color" : "white"
            }
        },

        exporting: {
            enabled: false
        },

        xAxis: {
            type : 'datetime',
            tickPixelInterval : 150
        },

        yAxis: {
            title: {
                    text: 'Celsius'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#ffffff'
                }],
                plotBands:[{
                    color: 'green',
                    from : 0,
                    to: 60
                },
                {
                    color: 'yellow',
                    from: 60,
                    to: 100
                },{
                    color: 'red',
                    from: 100,
                    to: 150
                }]
        },
        
        tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 2);
                }
            },
        
        series: [{
            name: 'Temperature',
            data: (function () {
                var data = [],
                    time = (new Date()).getTime(),
                    i;

                for (i = -19; i <= 0; i += 1) {
                    data.push([
                        time + i * 1000,
                        Math.round((5 + Math.random()) * 10)
                    ]);
                }
                return data;
            }()),
        }]
    });

});
		</script>
	</body>

</html>